<div class="container">

    <div class="login-container">
        
        <div class="login">

            <div class="login-name">
                <p><span>Login</span>Name</p>
            </div>

            <div class="singin-container">

                <div class="title-singin">
                    <p>Sing in to Account</p>
                </div>
                <div class="bar2">

                </div>

                <div class="links-container">

                    <div class="link">
                        <a href="#">f</a>
                    </div>
                    <div class="link">
                        <a href="#">in</a>
                    </div>
                    <div class="link">
                        <a href="#">G+</a>

                    </div>
                </div>

                <div class="singin">
                    <p>Or use your Email Account</p>
                    <div class="email">
                        <input type="email" name="email" id="email"
                        placeholder="Email">
                    </div>
                    <div class="password">
                        <input type="password" name="password" id="password"
                        placeholder="Password">
                    </div>
                    <div class="singin-footer">
                        <div class="one">
                            <input type="checkbox"  class="checkbox">  <p> Remember me</p>
                        </div>
                        <div class="two">
                            <a href="#">Forgot Password?</a>
                        </div>
                    </div>

                        <button type="submit" class="btn-singin">Sing In</button>
                </div>
            </div>

            <div class="footer">
                <p>Privacy Policy   -    Terms & Conditions</p>
            </div>

        </div>


        <div class="loginup">
            <div class="loginup-container">

                <div class="title-loginup">
                    <p>Hello, Friend!</p>
                </div>
                <div class="bar">
    
                </div>
                <div class="singinup">
                    <p>Lorem ipsum dolor sit amet adipisicing elit. 
                    <br> adipisicing elit Lorem ipsum dolor ipsum. </p>

                    <button type="submit" class="btn-submit">Singin Up</button>

                </div>

            </div>
        </div>

    </div>



















</div>